* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #333;
  line-height: 1;
  
}

hr {
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  width: 40%;
  
}


/*****FOR MOBILE DEVICE****/
/*****Main-Header*****/
#main-header {
  margin: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgrey;

}


.dropdown {
  /* width: 20%; */
  display: block;
}


.dropbtn {
  color: #333;
  padding: 14px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fadddd;
  border: 2px solid orange;
}

#searchcon {
  display: none;
}

#spacos {
  display: none;
}

.brand-logo {
  width: 50%;
}

.brand-logo svg {
  vertical-align: middle;
}

i[class$=user] {
  padding: 14px;
  font-size: 18px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;

}


.User-Icon a {
  color: #333;
}

.User-Icon a:hover {
  background-color: #f2f2f2;
  border: 2px solid orange;
  padding: 7px;
}

.dropdown-sub-login-section {
  display: none;
}

.subscribe-login-section {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px;
  font-size: 10px;
}


#subscribe-text {
  border-right: 1px solid lightgrey;
  margin-right: 5px;
  padding-right: 5px;
}

.subscribe-login-link {
  text-decoration: none;
  
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#section1 {
  text-align: left;
  height: auto;
}

.headline {
  font-size: 1.45rem;
  font-weight: 700;
  font-style: italic;
  font-family: georgia,'times new roman',times,serif;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 20px;
  margin-left: 20px;  
}

.headline a {
  text-decoration: none;
  color: #333;
}

.img-box {
  width: 100%;
  margin: 0;
}

.imagec {
  width: 100%;
} 

.intro{
  font-family: georgia,'times new roman',times,serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #666;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.author {
  color: #888;
  font-size: 0.775rem;

}

.title-name {
  font-weight: bold;
  color: #333;
  margin-top: 50px;
}

.title-name a{
  color:#333;
  text-decoration-color: lightgrey;
  
}

#date-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.social-icons-share {
  list-style-type: none;
  padding-left: 0;

}

.social-icon {
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
}

.social-icon a{
  color: black;
  padding: 5px;
  width: 15px;
}

.social-icon-link {
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #eee;
  height: 15px;
}

.sim {
  font-size: 20px;
}

.sim-hidden {
  display: none;
}


#article-text {
  line-height: 2rem;
  font-weight: 500;
 }

.ad {
  background-color: lightgrey;
}

.bd-sty {
  border-top: 1px solid lightgrey;
  margin:  0px auto 18px;
  width: 72px;
  text-align: center;
}

.bd-sty2 {
  border-bottom: 1px solid lightgrey;
  margin:  0px auto 18px;
  width: 72px;
  text-align: center;
}

.pre-css {
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
 
}

.anchsty{
  display: block;
  text-decoration: none;
  color: darkcyan;
  font-weight: bold;
  margin-bottom: 15px;
}

#a-subscribetotimes {
  margin-top: 0;
}

.cssa1sty {
  clear: left;
}

#theoinflasection {
  display: none;
}

.video-wrap {
  width: 474px;
  text-align: center;
}

.video-stream {
  width: 474px;
  height: 257px;
  left: 0px; 
  top: 0px;
}

#section1 .div-box {
  display: none;
}

#lstsection {
  color: #666;
  font-size: 0.6875rem;
  line-height: 1rem;
  
}

.lstsectiona {
  color: #666;
}

#cssmf {
  margin-top: 30px;
  margin-bottom: 50px;
}

.btnwrapper {
  margin: 15px 10px 20px 0;
}

.btn {
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(86, 123, 149);
  color: white;
  width: 100%;
  border-radius: 3px;
  outline: none;
  line-height: 1.5rem;
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

#section1 footer div > a {
  text-align: center;
  text-decoration: none;
} 

/**ASIDE SECTION STYLES**/
#asidebar {
  display: none;
}

/*The SECOND SECTION STYLES */
.article2div {
  border:  1px solid lightgrey;
  margin-top: 10px;
}

.cssh4p {
  margin-top: 5px;
  border-top: 2px solid black;

}

.div-box {
  display: flex;
}


.div-box div:last-of-type {
  position: relative;

}

.random-img-wrapper {
  margin-top:10px;
  margin-left:10px
}

.random-img {
  width: 100px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

.p-26 {
  margin-bottom: 0;
  font-size: 0.75rem;
}

.h-04 {
  margin-top: 3px;
  margin-bottom: 0;
  
}


.material-icons {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;
}

.lstdiv {
  text-align: center;
  margin: 30px 0;
}


/*THE THIRD SECTION*/
#section3 {
  border-top: 1px solid #000;
  color: #000;
}

#section3 a {
  color: #000;
}

.secardivs {
  border-top: 1px solid lightgray;  
}

.image {
  width: 100%;
}

.img010lm-wrapper {
  width: 40%;
}
.img010lm {
  object-fit: cover;
  height: 55px;
  float: right;
  position: relative;
  left: 40px;
  margin-top: 2px;
  overflow: auto;
}

.figcaptionmob {
  display: none;
}

.secardivs div:last-of-type {
  line-height: 1.5;
  margin-top: 10px;
}


 /*THE FOURTH  SECTION*/ 
#section4 {
  border-top: 1px solid #000;
  color: #000;
  margin-top: 40px;
}

#sec41fgcap {
  text-align: left;
  text-decoration: none;
}

#sec41fgcap .author {
  color: rgb(153, 153, 153);
  font-size: 0.7rem;
  line-height: 1.23rem;
  margin: 3px 15px 0px;
  text-align: right;
}

#section4 a {
  color: #000;
}


  /*THE FOOTER CSS RULES*/
#main-footer {
  margin-top: 40px;

}

#bdtpbo {
  border-top: 2px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 5px;
  margin-bottom: 10px;
}

.footer-brand-logo {
  width: 60%;
  height: 21px;
}

.footer-brand-logo svg {
  width: 100%;
}

.ftsec2 {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.714rem;
  border-bottom: 1px solid lightgrey;
}

#ghp {
  align-self: flex-end;
}

.ftsec2 a {
  text-decoration: none;
  margin-left: 5px;
}

.fa-angle-double-right {
  position: relative;
  top: 1px;
}

.footer-dropdown {
  width: 100%;
}

#ftsub {
  display: none;
}

.showh3 {
  display: block;
  width: 100%;
}

#cpyNY {
  margin-top: 15px;
  font-size: 0.65rem;
  text-align: center;
}

.cssmf .flinkhide {
  display: none;
}

#link-con {
  width: 100%;
  font-size: 0.65rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 5px auto;
  overflow: hidden;  
  align-items: center;
  padding-left: 0;
  
}

.list li {
  display: inline-block;
  padding: 0 2px;
  font-size: 0.65rem;
}

.flink {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #666;
  padding: 3px;

}

#link-con .flinkhide {
  display: inline-block;
}

.cssmf .ftsec2:last-of-type {
  border-bottom: none;
  
}


#sticksub {
  position: sticky;
  bottom: 0;
  border-top: 1px solid #000;
  height: 80px;
  font-weight: bold;
  background-color: white;
  margin-top: 5px;
}

#sticksubp {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.75rem;
}

#sticksubp p {
  padding: 5px 25px 5px 5px;
  margin: 10px 10px 10px 0;
  
}

.fa-angle-up {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-left: 1px solid lightgrey;
}

/**MIN-WIDTH : 600px**/
@media screen and (min-width: 600px) {
  /*THE THIRD SECTION*/
  .brand-logo {
    width: 30%;
  }
  
  .brand-logo svg {
    vertical-align: middle;
  }

  #cssmf {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #section1 .div-box {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: 0.775rem;
    line-height: 1.25rem;
  }

  #section1 .div-box > p {
    width: 70%;
  }

  #section1 footer >.social-icons-share {
    width: 30%;
  }

  .div-box .btnwrapper {
    width: 20%;
    margin: 15px 10px 20px 0;
  }

  .btn-default {
    color: #000;
    background-color: #fff;
    border-color: #000;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #567b95;
    border-color: #567b95;
  }

  .btn.btn-default {
    text-align: center;
    text-decoration: none;
    box-shadow: #333;
  }
  
  #cssmf > .btnwrapper {
    width: 50%;
  }
    
  #section3 {
    border-top: 1px solid #000;
    color: #000;
    clear: left;
    width: 100%;
  }

  #section3 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .sec34flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sec3flex-item {
    width: 45%;
  }

  .secflex-item2 {
    width: 50%;
  }
  
  #section3 .img-box {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .image {
    width: 100%;
    height: 150px;
  } 

  figure {
    margin: 0;
  }

  #section3 .img010lm-wrapper {
    width: 100%;
  }

  .img010lm {
    width: 100%;
    height: 150px;
    float: none;
    left: 0;
    display: block;
    overflow: hidden;
    object-fit: cover;

  }
  
  
  #section3 a {
    color: #000;
    text-decoration: none;
  }

  #section3 a.anchsty {
    margin-bottom: 0;
  }
  
  .secardivs {
    border: none; 
    width: 100%;
  }

  .secardivs div:first-child {
    margin-right: 0;
    margin-left: 0;
  }
  

  .author.figcaptionmob {
    display: block;
    width: 100%;
    text-align: right;
    
  }

  .figcaptionmob {
    display: none;
  }

  .artab.figcaptionmob {
    display: block;
  }

  .sec3flex-item > article:last-child{
    margin-top: 10px;
  }
   
  .secardivs p:only-of-type {
    width: 100%;
    font-weight: lighter;
    padding: 0 5px 0 0;
    color: #cccc;
    font-size: 1rem;
    margin-bottom: 0;
  }

  section {
    width: 100%;
    overflow: hidden;
  }
 
  /**The Fourth Section**/
  
  #section4 {
    border-top: 1px solid #000;
    color: #000;
    margin-top: 40px;
    width: 100%;
    clear: left;    
  }
   
  #section4 .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  #section4 .secardivs {
    width: 100%;
  }

  #section4 .img-box {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }
  
  #sec41fgcap {
    text-align: left;
    text-decoration: none;
  }
  
  #sec41fgcap .author {
    color: rgb(153, 153, 153);
    font-size: 0.7rem;
    line-height: 1.23rem;
    margin: 3px 15px 0px;
    text-align: right;
  }
  
  #section4 a {
    color: #000;
    text-decoration: none;
  }
  
  .secardivs p:only-of-type {
    width: 100%;
  }

  /**FOOTER STYLES**/
  .ftsec2 {
    justify-content: space-between;
  }

  #ghp {
    align-self: flex-end;
  }

  .footer-brand-logo {
    width: 30%;
    height: 20%;
  }
  
  .footer-brand-logo svg {
    width: 100%;
  }

  .list {
    justify-content: center;
  }
  
  .list li {
    display: inline-block;
    padding: 0 2px;
    font-size: 0.65rem;
  
  }
  
  .flink {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #666;
    padding: 3px;
  
  }
}


/**TABLET DEVICES***/
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .brand-logo {
    width: 25%;
  }
  
  .brand-logo svg {
    display: block;
    
  }

  .container {
    width: 100%;
    padding-right: 70px;
    padding-left: 70px;
    margin-right: auto;
    margin-left: auto;
  }

  
  #section1 {
    text-align: left;
    height: auto;
  }
  
  .headline {
    font-weight: 700;
    font-style: italic;
    line-height: 3rem;
    font-family: georgia,'times new roman',times,serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .headline h1 {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto  20px;
    
  }

  .headline a {
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .img-box {
    max-width: 100%;
    margin: 0;
  }
  
  .imagec {
    width: 100%;
  } 
  
  .intro{
    font-family: nyt-imperial, georgia,'times new roman',times,serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #666;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
  }
  
  .author {
    color: #888;
    font-size: 0.775rem;
  
  }
  
  .title-name {
    font-weight: bold;
    color: #333;
    margin-top: 50px;
  }
  
  .title-name a{
    color:#333;
    text-decoration-color: lightgrey;
    
  }
  
  #date-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .social-icons-share {
    list-style-type: none;
    padding-left: 0;
  
  }
  
  .social-icon {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
  }
  
  .social-icon a{
    color: black;
    padding: 5px;
    width: 15px;
  }
  
  .social-icon-link {
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #eee;
    height: 15px;
  }
  
  .sim {
    font-size: 20px;
  }

  .sim-hidden {
    display: inline-block;
  }
  
  
  
  #article-text {
    line-height: 2rem;
    font-weight: 500;
   }
  
  .ad {
    background-color: lightgrey;
  }
  
  .bd-sty {
    border-top: 1px solid lightgrey;
    margin:  0px auto 18px;
    width: 72px;
    text-align: center;
  }
  
  .bd-sty2 {
    border-bottom: 1px solid lightgrey;
    margin:  0px auto 18px;
    width: 72px;
    text-align: center;
  }
  
  .pre-css {
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
   
  }
  
  .anchsty{
    display: block;
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  #a-subscribetotimes {
    margin-top: 0;
  }
  
  .cssa1sty {
    clear: left;
  }

  #theoinflasection {
    display: block;
  }

  #theoinfla {
    max-width: 100%;
    height: 57%;
    display: block;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
  }
  
   .h3p{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
  }

  div#theoinfla + p {
    padding-left: 15px;
    margin-left: auto;
  }

  #theoinfla-img {
    display: block;
    width: 100%; 
  }
  
  .inflaposition {
    position: absolute;
  }


  #infla-1 {
    top: 18%;
    width: 18%;
    padding: 5px;
  }

  #infla-2 {
    top: 18%;
    left: 27.5%;
    width: 18%;
    padding: 5px;
  }

  #infla-3 {
  top: 18%;
  left: 50%;
  width: 22%;
  padding: 5px;

  }
  
  #infla-4 {
    top: 18%;
    left: 75.5%;
    width: 20%;
    padding: 3px 5px;
    margin: 2px 0;
  }  
  

  #infla-5 {    
    top: 65%;
    width: 20%;
    padding: 10px 5px;
  }

  #infla-6 {
    top: 65%;
    left: 27.5%;
    width: 20%;
  }  
  

  #infla-7 {
    top: 65%;
    left: 50%;
    width: 20%;  
  }
  

  #infla-8 {
    top: 65%;
    left: 75.5%;
    width: 20%;
  }  
  

  .theoinfla-p {
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
    margin: 0 auto;
  }

  .g-sc {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
  }
  
  .video-wrap {
    width: 600px;
  }

  .video-stream {  
    width: 600px;
    height: 358px;
  }
  
  #lstsection {
    color: #666;
    font-size: 0.6875rem;
    line-height: 1rem;
    
  }
  
  .lstsectiona {
    color: #666;
  }
  
  #cssmf {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  

  /**The Aside Bar**/  
  
  #asidebar {
    display: block;
    border-top: 1px solid black;
    width: 30%;
    float: right;
    line-height: 1.48;
  }
  
  #asidebar.container {
    /* width: 65%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }
  
  #asidebar article {
    margin: 15px 10px 15px 0;
    border-bottom: 1px solid lightgrey;
  }
  
  #asidebar div {
    margin-bottom: 10px;
    padding: 0;
    line-height: 1.5;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
  }

  
  /*The SECOND SECTION STYLES */
  #section2 {
    width: 65%;
    clear: left;
    margin-bottom: 40px;
  }

  #section2.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .article2div {
    border: 1px solid lightgrey;
    margin: 10px 0; 
  }

  .artiflbx {
    display: block;
  }
  
  .cssh4p {
    margin-top: 5px;
    border-top: 2px solid black;
  }
  
  .article2div .div-box {
    display: block;
  }
  
  
  .div-box div:last-of-type {
    position: relative;
  
  }
  .random-img-wrapper {
    margin-top:10px;
    margin-left:10px
  }
  
  .random-img {
    width: 100px;
    height: 80px;
    margin-right: 10px;
  }
  
  .p-26 {
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .h-04 {
    margin-top: 3px;
    margin-bottom: 0;
    
  }
  
  .material-icons {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .article2div .material-icons {
    font-size: 40px;

  }
  
  .lstdiv {
    display: block;
    margin-bottom: 0;
  }
  
  .lstdiv p {
    margin-bottom: 5px;
  }
  
  /*THE THIRD SECTION*/

  #section3 {
    border-top: 1px solid #000;
    color: #000;
    clear: left;
    width: 65%;
  }

  #section3 .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .sec34flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .sec3flex-item {
    width: 50%;
  }
  
  #section3 .img-box {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .image {
    width: 100%;
    height: 150px;
  } 

  figure {
    margin: 0;
  
  }

  .img010lm {
    height: 150px;
    float: none;
    position: static;
    left: 0;
    display: block;
    overflow: none;

  }
  
  
  #section3 a {
    color: #000;
    text-decoration: none;
  }

  #section3 a.anchsty {
    margin-bottom: 0;
  }
  
  .secardivs {
    border: none; 
    width: 100%;
  }

  .secardivs div:first-child {
    margin-right: 0;
    margin-left: 0;
  }

  .author.figcaptionmob {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 0.75rem;
    
  }

  .figcaptionmob {
    display: none;
  }

  .artab.figcaptionmob {
    display: block;
  }

  .sec3flex-item > article:last-child{
    margin-top: 10px;
  }
   
  .secardivs p:only-of-type {
    width: 100%;
    font-weight: lighter;
    padding: 0 5px 0 0;
    color: #cccc;
    font-size: 1rem;
    margin-bottom: 0;
  }


  
   /*THE FOURTH  SECTION*/ 
  #section4 {
    border-top: 1px solid #000;
    color: #000;
    margin-top: 40px;
    width: 65%;
    clear: left;
    
  }
   
  #section4 .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  #section4 .img-box {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }
  
  #sec41fgcap {
    text-align: left;
    text-decoration: none;
  }
  
  #sec41fgcap .author {
    color: rgb(153, 153, 153);
    font-size: 0.7rem;
    line-height: 1.23rem;
    margin: 3px 15px 0px;
    text-align: right;
  }
  
  #section4 a {
    color: #000;
    text-decoration: none;
  }

  #section4 .secardivs {
    width: 100%;
  }

  .secardivs p:only-of-type {
    width: 100%;
  }
  
  
    /*THE FOOTER CSS RULES*/
  #main-footer {
    margin-top: 40px;  
  }
  
  #bdtpbo {
    border-top: 2px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 5px;
    margin-bottom: 10px;
  }
  
  .footer-brand-logo {
    width: 30%;
    height: 20%;
  }
  
  .footer-brand-logo svg {
    width: 100%;
  }
  
  #main-footer .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  } 
  
  .ftsec2 {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.714rem;
    border-bottom: 1px solid lightgrey;
  }
  
  #ghp {
    align-self: flex-end;
  }

  .ftsec2 a {
    text-decoration: none;
    margin-left: 5px;
  }
  
  .fa-angle-double-right {
    position: relative;
    top: 1px;
  }
  
  .footer-dropdown {
    width: 100%;
  }
  
  .showh3 {
    display: block;
    width: 100%;
  }
  
  #cpyNY {
    margin-top: 15px;
    font-size: 0.65rem;
    text-align: center;
  }
  
  .flink {
    display: inline-block;
    text-decoration: none;
    color: #666;
    padding: 3px;  
  }
  

  .flinkhide {
    display: none;
  }

  #link-con .flinkhide {
    display: none;
  }
  
  #sticksub {
    position: sticky;
    bottom: 0;
    border-top: 1px solid #000;
    height: 80px;
    font-weight: bold;
    background-color: white;
    margin-top: 5px;
  }
  
  #sticksubp {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.75rem;
  }
  
  #sticksubp p {
    padding: 5px 25px 5px 5px;
    margin: 10px 10px 10px 0;  
  }
  
  .fa-angle-up {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-left: 1px solid lightgrey;
  }  

}

/***The Larger Screen***/
@media screen and (min-width: 1024px) {
 /**MAIN HEADER***/ 
    
 
  .dropdown {
    display: flex;
  }

  #searchcon {
    display: block;
    color: #333;
    padding: 14px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }

  #spacos {
    display: block;
    margin-left: 10px;
  }

  #spacos a {
    padding-top: 0;
    margin-top: 0;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
  }

  #space a:hover {
    text-decoration: underline;
  }

  #space a:active {
    color: blue;
  }

  .brand-logo {
    width: 20%;
    margin: 0 auto;
  }
  
  .User-Icon {
    display: none;
  }
   
  .dropdown-sub-login-section {
    display: flex;
    margin-right: 5px;
    padding: 0 14px;
  }

  .subscribe-login-section {
    display: none;
  }

  #subscribe-text {
    border-right: none;
  }

  .btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.775rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
  }

  .btn-primary {
    color: #fff;
    background-color: #567b95;
    border-color: #567b95;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #567b95;
    border-color: #567b95;
  }

  .btn-default {
    color: #000;
    background-color: #fff;
    border-color: #000;
    font-weight: bold;
  }

  .btn.btn-default {
    text-align: center;
    text-decoration: none;
    box-shadow: #333;
  }

  .container {
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  #section1 {
    text-align: left;
    height: auto;
  }


  .headline {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto  20px;
  }
  
  
  .img-box {
    max-width: 80%;
    margin: 0 auto;
  }

  
  .intro{
    font-family: georgia,'times new roman',times,serif;
    font-size: 1.25rem;
    line-height: 1.45rem;
    color: #666;
    padding-right: 10px;
    padding-left: 0;
    margin-top: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
  
  }
  
  
  .author {
    color: #888;
    font-size: 1.25rem;
  
  }
  
  .title-name {
    font-weight: bold;
    color: #333;
    margin-top: 50px;
  }
  
  .title-name a{
    color:#333;
    text-decoration-color: lightgrey;
    
  }
  
  #date-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  
  .social-icons-share {
    list-style-type: none;
    padding-left: 0;  
  }
  
  .social-icon {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
  }
  
  
  .social-icon a{
    color: black;
    padding: 5px;
    width: 15px;
  }
  
  .social-icon-link {
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #eee;
    height: 15px;
  }
  
  #date-social-icons .social-icons-share {
    position: sticky;
    top: 0;
    right: 0;
  }

  .sim {
    font-size: 20px;
  }

  .sim-hidden {
    display: inline-block;
  }
   
  
  #article-text {
    line-height: 2.5rem;
    font-weight: 500;
   }

  .ad {
    background-color: lightgrey;
  }
  
  .bd-sty {
    border-top: 1px solid lightgrey;
    margin:  0px auto 18px;
    width: 72px;
    text-align: center;
  }
  
  .bd-sty2 {
    border-bottom: 1px solid lightgrey;
    margin:  0px auto 18px;
    width: 72px;
    text-align: center;
  }
  
  .pre-css {
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
   
  }
  
  .anchsty{
    display: block;
    text-decoration: none;
    color: darkcyan;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  #a-subscribetotimes {
    margin-top: 0;
  }
  
  .cssa1sty {
    clear: left;
  }  
  
  .video-stream {
    margin-bottom: 10px;
  }
  
  #lstsection {
    color: #666;
    font-size: 0.6875rem;
    line-height: 1rem;
    
  }
  
  .lstsectiona {
    color: #666;
  }
  
  #cssmf {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  
  /**THIS SECTION CONTAINS THE ASIDE, SECTION2,3,4**/
  .asec234 {
    width: 90%;
    margin: 0 auto;
  }
  /**The Aside Bar**/ 
  #asidebar {
    display: block;
    border-top: 1px solid black;
    width: 30%;
    float: right;
    line-height: 1.48rem;
  }

  #asidebar.container {
    /* width: 65%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  #asidebar article {
    margin: 15px 10px 15px 0;
    border-bottom: 1px solid lightgrey;
  }

  #asidebar div {
    margin-bottom: 10px;
    padding: 0;

  }


  /*The SECOND SECTION STYLES */
  #section2 {
    width: 65%;
    clear: left;
  }

  #section2.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .article2div {
    border: 1px solid lightgrey;
    margin-top: 10px;
    width: 32%;
  }
  
  .cssh4p {
    margin-top: 5px;
    font-weight: bold;
    border-top: 2px solid black;  
  }

  
  .artiflbx {
    display: flex;
    justify-content: space-between;
  }
  
  .article2div .div-box {
    display: block;
  }
  
  
  .div-box div:last-of-type {
    position: relative; 
    margin-left: 10px;
    font-weight: normal;
    line-height: 1.45rem;
  }

  .random-img-wrapper {
    margin-top:10px;
    margin-left:10px
  }
  
  .random-img {
    width: 100px;
    height: 100px;
    float: none;
    margin-right: 10px;  
  }
  
  .p-26 {
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .h-04 {
    margin-top: 3px;
    margin-bottom: 0;    
  }
  
  .material-icons {
    position: absolute;
    right: 15px;
    top: -115px;  
  }
  
  .lstdiv {
    display: none;
  }
  
  
  /*THE THIRD SECTION*/

  #section3 {
    border-top: 1px solid #000;
    color: #000;
    clear: left;
    width: 65%;
  }

   h5.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  .sec34flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .sec3flex-item {
    width: 32%;
  }
  
  #section3 .img-box {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }
  
  .image {
    width: 100%;
  } 

  figure {
    margin: 0;  
  }

  .img010lm-wrapper {
    max-width: 100%;
  }

  .img010lm {
    width: 100%;
    float: none;
    position: static;
    left: 0;
    display: block;
    overflow: none;

  }
  
  
  #section3 a {
    color: #000;
    text-decoration: none;
  }

  #section3 a.anchsty {
    margin-bottom: 0;
  }
  
  .secardivs {
    border: none; 
    width: 100%;
  }

  .secardivs div {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  

  .author.figcaptionmob {
    display: block;
    width: 100%;
    text-align: right;
    
  }

  .figcaptionmob {
    display: block;
  }

  .artab.figcaptionmob {
    display: block;
  }

  .sec3flex-item > article:last-child{
    margin-top: 10px;
  }

  .secardivs > div:last-child {
    width: 100%;
  }
   
  .secardivs p:only-of-type {
    width: 100%;
    font-weight: lighter;
    padding: 0 5px 0 0;
    color: #cccc;
    font-size: 1rem;
    margin-bottom: 0;
  }


  
   /*THE FOURTH  SECTION*/ 
  #section4 {
    border-top: 1px solid #000;
    color: #000;
    margin-top: 40px;
    width: 65%;
    clear: left;
    
  }
   
  h4.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }

  #section4 .img-box {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
  }
  
  #sec41fgcap {
    text-align: left;
    text-decoration: none;
  }
  
  #sec41fgcap .author {
    color: rgb(153, 153, 153);
    font-size: 0.7rem;
    line-height: 1.23rem;
    margin: 3px 15px 0px;
    text-align: right;
  }
  
  #section4 a {
    color: #000;
    text-decoration: none;
  }

  #section4 .secardivs {
    width: 100%;
  }

  .secardivs p:only-of-type {
    width: 100%;
  }

  /*THE FOOTER CSS RULES*/
  #main-footer {
    margin-top: 40px; 
    width: 100%; 
  }

  #bdtpbo {
    border-top: 2px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 5px;
    margin-bottom: 10px;
    
  }
  
  .footer-brand-logo {
    width: 20%;
    height: 20%;
  }
  
  .footer-brand-logo svg {
    width: 100%;
  }
  
  #main-footer .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 5px;
    width: 100%;
  } 
}

@media screen and (min-width: 1150px) {

  
  .headline h1 {
    font-size: 2.5rem;
    width: 70%;
    margin: 0 auto  10px;
  }

  #theoinflasection {
    display: block;
  }

  #theoinfla {
    max-width: 80%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
  }

  .h3p{
   width: 80%;
  }


  #infla-1 {
    top: 18%;
    width: 18%;
    padding: 5px;
  }

  #infla-2 {
    top: 18%;
    left: 27.5%;
    width: 18%;
    padding: 5px;
  }

  #infla-3 {
  top: 18%;
  left: 50%;
  width: 22%;
  padding: 5px;

  }
  
  #infla-4 {
    top: 18%; 
    left: 75.5%;
    width: 18%;
    padding: 3px 5px;
    margin: 2px 0;
  }  
  

  #infla-5 {    
    top: 65%;
    /* left: ; */
    width: 20%;
    padding: 10px 5px;
  }

  #infla-6 {
    top: 65%;
    left: 27.5%;
    width: 20%;
  }  
  

  #infla-7 {
    top: 65%;
    left: 50%;
    width: 20%;  
  }
  

  #infla-8 {
    top: 65%;
    left: 75.5%;
    width: 20%;
  }
  
  div#theoinfla + p {
    width:80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


  /**FOOTER STYLES**/
  .ftsec2 {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.714rem;
    border-bottom: none;
  }
  
  #ghp {
    align-self: flex-end;
  }

  .ftsec2 a {
    text-decoration: none;
    margin-left: 5px;
  }

  .ftsec2 a:hover {
    text-decoration: underline;
  }
  
  .fa-angle-double-right {
    position: relative;
    top: 1px;
  }

  .cssmf {
    display: flex;
  }

  .cssmf:last-of-type {
    justify-content: center;
  }

  .ftsec-list li {
    margin: 10px 0;
    font-size: 0.875rem;
  }

  .ftsec2 a {
    margin-left: 0;

  }
  .ftsec-link {
    color: #000;
    padding: 0;
  }
  
  .showh3 {
    display: block;
    width: 100%;
  }

  .cssmf .flinkhide {
    display: block;
  }

  .ftsec-list {
    list-style-type: none;
    padding-left: 0;
  }

  .flink {
    display: inline-block;
    text-decoration: none;
    color: #666;
    padding: 3px;
    
  }

  #cpyNY {
    margin: 5px 0 0 auto;
    font-size: 0.65rem;
    padding-right: 0;
    padding-left: 15px;
    line-height: 1.5;
  }
  

  #link-con .flinkhide {
    display: none;
  }

  #link-con {
    width: 70%;
    font-size: 0.65rem;
    padding-right: 0;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  footer #link-con .list {
    margin-left: 0;
  }
  
  .cssmf .ftsec2:nth-last-of-type(2) {
    border-right: 1px solid lightgrey;
  }

  .cssmf .ftsec2:last-of-type {
    margin-left: 5px;
    margin-bottom: 1px solid lightgrey;
    
  }
  
  #borderb {
    padding-top: 10px;
    border-bottom: 1px solid lightgrey;
  }

  #ftsub {
    display: block;
  }

  #ftsub-link {
    color: #000;
    font-weight: 700;
  }

  #ftsub svg{
    display: inline-block;
    width: 13px;
    vertical-align: middle;
  }
  
  
}
